{{define "yield"}}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mx-3">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

<div class="container-fluid">
  <div class="card-columns">
    {{ range.Data }}
    <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title">
          <a href="/articles/{{ .ArticleID }}">{{ .Title }}</a>
        </h5>
        <p class="card-text">
          {{ .Content }}
        </p>
        <a href="#" class="card-link">Comment</a>
        <a href="#" class="card-link">Edit</a>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
