{{define "yield"}}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ .Data.Title }}
    </li>
  </ol>
</nav>
<div class="my-3">
  <div class="btn-group" role="group" aria-label="Basic actions on article">
    <a href="/" class="btn text-white btn-warning">Edit</a>
    <a href="/" class="btn text-white btn-dark">Comment</a>
    <a href="/" class="btn text-white btn-dark">Export</a>
  </div>
  <div class="btn-group" role="group" aria-label="Delete article">
    <a href="/" class="btn text-white btn-danger">Delete</a>
  </div>
</div>
<div class="article-{{ .Data.ArticleID }}">
  <h1>{{ .Data.Title }}</h1>
  <p>{{ .Data.Content }}</p>
</div>
<div class="article-comments-zone mt-5">
  <form
    class="article-comment-postform mt-5"
    action="/articles/{{ .Data.ArticleID }}/comments"
    method="POST"
  >
    <div class="form-group">
      <textarea
        class="form-control"
        id="comment-content"
        placeholder="Type your comment here"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post it !</button>
  </form>

  <div class="article-comments-list mt-5">
    <div class="alert alert-secondary" role="alert">
      Commentaire 1
    </div>
    <div class="alert alert-secondary" role="alert">
      Commentaire 2
    </div>
    <div class="alert alert-secondary" role="alert">
      Commentaire 3
    </div>
    <div class="alert alert-secondary" role="alert">
      Commentaire 4
    </div>
    <div class="alert alert-secondary" role="alert">
      Commentaire 5
    </div>
  </div>
</div>
{{ end }}
